{% extends "base.html" %}
{% load static %}

{% block title %}
  User Profile
{% endblock title %}

{% block content %}
  
<!-- RIGHT SIDE -->
<div class="main_body transition-all duration-500 md:w-4/5 w-full sm:ml-auto h-auto bg-slate-200">
  
  <!-- Header -->
  <div class="bg-slate-400 h-auto sm:min-h-screen pb-10 sm:pb-0">

    <div class="py-4 ml-10">
      <h1 class="font-bold text-md sm:text-xl text-slate-900">Profile</h1>
      <h2 class=" font-bold text-sm sm:text-lg text-slate-900"><a href="{% url 'dashboard' %}">Home</a> | <span><a href="{% url 'user_profile' patient.profile_id %}">Patient</a></span> | <span><a href="#">{{patient.first_name}}</a></span></h2>
    </div>

    <div class="flex flex-col sm:flex-row text-xs sm:text-sm md:text-md">
      <div class="sm:w-2/5">
        <div class="mx-4 sm:mx-8 my-4 p-4 bg-white items-center ">
          <div class="flex justify-center">
            <img src="{{patient.profilemodel.profile_picture.url}}" alt="" class="w-40 h-40 rounded-full">
          </div>

          <div class="flex flex-col text-center justify-center">
            <h1 class="mt-2 font-bold text-lg text-slate-900">ID {{patient.profile_id}}</h1>
            <h1 class="mt-2 font-semibold text-slate-900">Sex: {{patient.sex}}</h1>
            <h1 class="mt-2 font-semibold text-slate-900">Age: {{patient.age}}</h1>
            {% if request.user.is_staff %}
            <h1 class="mt-2 font-semibold text-slate-900">Speciality: {{patient.profilemodel.speciality}} </h1>
            {% endif %}
          </div>
        </div>
      </div>

      <div class="sm:w-3/5">
        <div class="mx-2 my-4 pt-4 pb-12 px-2 md:p-4 bg-white items-center ">

          <div x-data="{ openTab: 1 }">
            <!-- Tab Buttons -->
            <div class="flex space-x-6 sm:space-x-8 px-4">
                <p @click="openTab = 1" :class="{ 'text-blue-700': openTab === 1, ' rounded border-b-blue-700 p-[2px] border-b-4 border-t-2 border-x-2':openTab===1, 'text-gray-600': openTab !== 1 }" class="hover:text-blue-700 cursor-pointer font-semibold">Personal</p>
                <p @click="openTab = 2" :class="{ 'text-blue-700': openTab === 2, ' rounded border-b-blue-700 p-[2px] border-b-4 border-t-2 border-x-2':openTab===2, 'text-gray-600': openTab !== 2 }" class="hover:text-blue-700 cursor-pointer font-semibold">Kin</p>
                <p @click="openTab = 3" :class="{ 'text-blue-700': openTab === 3, ' rounded border-b-blue-700 p-[2px] border-b-4 border-t-2 border-x-2':openTab===3, 'text-gray-600': openTab !== 3 }" class="hover:text-blue-700 cursor-pointer font-semibold">Edit Profile</p>
                {% if request.user.is_staff %}
                <p @click="openTab = 4" :class="{ 'text-blue-700': openTab === 4, ' rounded border-b-blue-700 p-[2px] border-b-4 border-t-2 border-x-2':openTab===4, 'text-gray-600': openTab !== 4 }" class="hover:text-blue-700 cursor-pointer font-semibold">Availability</p>
                {% endif %}
              </div>

            <hr class="h-[3px] mt-4">
    
            <!-- Tab Content -->
            <div x-show="openTab === 1" class="mt-6">
                <div class="space-y-4 ">

                  <div class="flex px-2 md:px-4">
                    <div class="w-[35%] font-semibold">Full Name:</div>
                    <div class="w-[65%]">{{patient.first_name}} {{patient.last_name}}</div>
                  </div>

                  <div class="flex px-2 md:px-4">
                    <div class="w-[35%] font-semibold">Date of Birth:</div>
                    <div class="w-[65%]">{{patient.dob}}</div>
                  </div>

                  <div class="flex px-2 md:px-4">
                    <div class="w-[35%] font-semibold">Place of Birth:</div>
                    <div class="w-[65%]">{{patient.profilemodel.place_of_birth}}</div>
                  </div>

                  <div class="flex px-2 md:px-4">
                    <div class="w-[35%] font-semibold">Religion:</div>
                    <div class="w-[65%]">{{patient.profilemodel.religion}}</div>
                  </div>
                  <div class="flex px-2 md:px-4">
                    <div class="w-[35%] font-semibold">Nationality:</div>
                    <div class="w-[65%]">{{patient.profilemodel.nationality}}</div>
                  </div>

                  <div class="flex px-2 md:px-4">
                    <div class="w-[35%] font-semibold">Contact:</div>
                    <div class="w-[65%]">{{patient.contact}}</div>
                  </div>

                  <div class="flex px-2 md:px-4">
                    <div class="w-[35%] font-semibold">Residential Address:</div>
                    <div class="w-[65%]">{{patient.profilemodel.address}}</div>
                  </div>

                  <div class="flex px-2 md:px-4">
                    <div class="w-[35%] font-semibold">Marital Status:</div>
                    <div class="w-[65%]">{{patient.profilemodel.marital_status}}</div>
                  </div>

                  <div class="flex px-2 md:px-4">
                    <div class="w-[35%] font-semibold">Occupation:</div>
                    <div class="w-[65%]">{{patient.profilemodel.occupation}}</div>
                  </div>

                  <div class="flex px-2 md:px-4">
                    <div class="w-[35%] font-semibold">Region:</div>
                    <div class="w-[65%]">{{patient.profilemodel.region}}</div>
                  </div>

                </div>
            </div>

            <div x-show="openTab === 2" class="mt-4">
              <div class="space-y-4 ">

                <div class="flex px-2 md:px-4">
                  <div class="w-[35%] font-semibold">Name:</div>
                  <div class="w-[65%]">{{patient.profilemodel.kin_name}}</div>
                </div>

                <div class="flex px-2 md:px-4">
                  <div class="w-[35%] font-semibold">Relationship:</div>
                  <div class="w-[65%]">{{patient.profilemodel.relationship}}</div>
                </div>

                <div class="flex px-2 md:px-4">
                  <div class="w-[35%] font-semibold">Residential Address:</div>
                  <div class="w-[65%]">{{patient.profilemodel.kin_address}}</div>
                </div>

                <div class="flex px-2 md:px-4">
                  <div class="w-[35%] font-semibold">Contact:</div>
                  <div class="w-[65%]">{{patient.profilemodel.kin_contact}}</div>
                </div>

                <div class="flex px-2 md:px-4">
                  <div class="w-[35%] font-semibold">Email:</div>
                  <div class="w-[65%]">{{patient.profilemodel.kin_email}}</div>
                </div>

              </div>
            </div>

            <div x-show="openTab === 3" class="mt-4">
              <div class="space-y-2">
                <form method="POST" enctype="multipart/form-data">
                  {% csrf_token %}
                  {% for field in u_form  %}
                  <div class="flex px-2 md:px-2">
                    <div class="w-[30%] font-semibold"> {{field.label}} </div>
                    <div class="w-[70%] mb-5">{{field}}</div>
                  </div>
                  {% endfor %}
                  {% for field in p_form  %}                      
                  <div class="flex px-2 md:px-2">
                    <!-- label -->
                    <div class="w-[30%] font-semibold"> {{field.label}} </div>
                    <div class="w-[70%] mb-5">{{field}}</div>
                  </div>
                  {% endfor %}
                  <div class="flex items-center justify-center px-4 sm:px-8">
                      <button type="submit" class=" text-base bg-blue-600 px-8 py-3 my-4 rounded-lg text-white font-semibold">
                        Save
                     </button>
                  </div>
                </form>

              </div>
            </div>

            <div x-show="openTab === 4" class="mt-4">
              <div class="space-y-2">
                <form method="POST" action="{% url 'availability' patient.profile_id %}">
                  {% csrf_token %}
                  {% for field in availability_form  %}                      
                  <div class="flex px-2 md:px-2">
                    <!-- label -->
                    <div class="font-semibold mx-10"> {{field.label}} </div>
                    <div class="mb-5">{{field}}</div>
                  </div>
                  {% endfor %}
                  <div class="flex items-center justify-center px-4 sm:px-8">
                      <button type="submit" class=" text-base bg-blue-600 px-8 py-3 my-4 rounded-lg text-white font-semibold">
                        Save
                      </button>
                  </div>
                </form>

              </div>
            </div>
        </div>
          

        </div>
      </div>
    </div>

  </div> 
  <!-- End Header -->

</div>
<!-- END RIGHT SIDE -->
{% endblock content %}
