.alert {
    padding: 15px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 400px;
    z-index: 1000;
}

.alert-success {
    background-color: #00A28E;
    color: white;
}

.alert-error {
    background-color: #FF5656;
    color: white;
}

.alert p {
    margin: 0;
    flex-grow: 1;
}

.alert .alert-close {
    margin-left: auto;
    cursor: pointer;
    font-size: 20px;
    color: white;
}