{% extends "base.html" %}
{% load static %}

{% block title %}
  Book Appointment
{% endblock title %}
{% block content %}  
<!-- RIGHT SIDE -->
<div class="main_body transition-all duration-500 md:w-4/5 w-full sm:ml-auto h-auto bg-slate-200">
  
  <!-- Header -->
  <div class="bg-slate-400 h-auto sm:min-h-screen pb-10 sm:pb-0">

    <div class="py-4 ml-10">
      <h1 class="font-bold text-md sm:text-xl text-slate-900">Bookings</h1>
      <h2 class=" font-bold text-sm sm:text-lg text-slate-900"><a href="dashboard.html">Home</a> | <span><a href="book_appointment2.html">Doctor Availability</a></span></h2>
    </div>

    <!-- Header Profile -->
    <div class="h-[20%] bg-gray-100 mb-8 flex justify-center mx-4 sm:mx-8 md:mx-10 lg:mx-16  rounded-lg">
      <div class="flex text-sm sm:text-lg p-5 text-slate-900 font-bold">
        <div class="flex justify-center" >
          <img src="../images/prof0.jpg" alt="" class="rounded-[100%] w-[80px] h-[80px] ">
        </div>
        <div class=" text-gray-800 mx-3 flex justify-between items-center">
          <div class="text-xs xs:text-sm sm:text-[16px]">
            <h1>Name : Dr. John Brown</h1>
            <h1>Speciality : Optician</h1>
            <h1>Hospital : Korle bu</h1>
          </div>
        </div>
        
      </div>
    </div>
    <!-- End Header Profile -->

    <div class="mx-4 sm:mx-8 md:mx-10 lg:mx-16 pb-10">
      <div class="flex justify-between my-6 ">
        <button class="rounded bg-slate-900 px-4 py-1 uppercase text-white">
          Filter
        </button>
      </div> 

    <div class="hover:shadow-2xl text-[11px] sm:text-sm my-4 px-4 py-[10px] sm:px-6 bg-white shadow-lg rounded-lg">

        <div class="flex items-center justify-between my-2">
          <div>
            <h1 class="uppercase font-bold">Date</h1>
            <p class="">18/03/2024</p>
          </div>

          <div class="">
            <h1 class="uppercase font-bold">Day</h1>
            <p class="">Monday</p>
          </div>

          <div class="hidden xxs:block">
            <h1 class="uppercase font-bold">Time</h1>
            <p class="">2:00pm</p>
          </div>

          <div class="hidden xxs:block">
            <h1 class="uppercase font-bold">Type</h1>
            <p class="">In-person</p>
          </div>

          <a href="session_dashboard.html">
            <button class="rounded bg-blue-700 px-2 sm:px-4 py-1 text-xs sm:text-sm uppercase text-white">
              BOOK
            </button>
          </a>

        </div>

        <div>
          <input type="text" name="" id="" placeholder="Add a comment" class="border border-slate-600 rounded-lg p-2 w-3/5">
        </div>

    </div>

     <div class="hover:shadow-2xl text-[11px] sm:text-sm my-4 px-4 py-[10px] sm:px-6 bg-white shadow-lg rounded-lg">

        <div class="flex items-center justify-between my-2">
          <div>
            <h1 class="uppercase font-bold">Date</h1>
            <p class="">18/03/2024</p>
          </div>

          <div class="">
            <h1 class="uppercase font-bold">Day</h1>
            <p class="">Monday</p>
          </div>

          <div class="hidden xxs:block">
            <h1 class="uppercase font-bold">Time</h1>
            <p class="">2:00pm</p>
          </div>

          <div class="hidden xxs:block">
            <h1 class="uppercase font-bold">Type</h1>
            <p class="">Virtual</p>
          </div>

          <a href="session_dashboard.html">
            <button class="rounded bg-blue-700 px-2 sm:px-4 py-1 text-xs sm:text-sm uppercase text-white">
              BOOK
            </button>
          </a>

        </div>

        <div>
          <input type="text" name="" id="" placeholder="Add a comment" class="border border-slate-600 rounded-lg p-2 w-3/5">
        </div>

      </div>

     <div class="hover:shadow-2xl text-[11px] sm:text-sm my-4 px-4 py-[10px] sm:px-6 bg-white shadow-lg rounded-lg">

        <div class="flex items-center justify-between my-2">
          <div>
            <h1 class="uppercase font-bold">Date</h1>
            <p class="">18/03/2024</p>
          </div>

          <div class="">
            <h1 class="uppercase font-bold">Day</h1>
            <p class="">Monday</p>
          </div>

          <div class="hidden xxs:block">
            <h1 class="uppercase font-bold">Time</h1>
            <p class="">2:00pm</p>
          </div>

          <div class="hidden xxs:block">
            <h1 class="uppercase font-bold">Type</h1>
            <p class="">Virtual</p>
          </div>

          <a href="session_dashboard.html">
            <button class="rounded bg-blue-700 px-2 sm:px-4 py-1 text-xs sm:text-sm uppercase text-white">
              BOOK
            </button>
          </a>

        </div>

        <div>
          <input type="text" name="" id="" placeholder="Add a comment" class="border border-slate-600 rounded-lg p-2 w-3/5">
        </div>

      </div>

     <div class="hover:shadow-2xl text-[11px] sm:text-sm my-4 px-4 py-[10px] sm:px-6 bg-white shadow-lg rounded-lg">

        <div class="flex items-center justify-between my-2">
          <div>
            <h1 class="uppercase font-bold">Date</h1>
            <p class="">18/03/2024</p>
          </div>

          <div class="">
            <h1 class="uppercase font-bold">Day</h1>
            <p class="">Monday</p>
          </div>

          <div class="hidden xxs:block">
            <h1 class="uppercase font-bold">Time</h1>
            <p class="">2:00pm</p>
          </div>

          <div class="hidden xxs:block">
            <h1 class="uppercase font-bold">Type</h1>
            <p class="">In-person</p>
          </div>

          <a href="session_dashboard.html">
            <button class="rounded bg-blue-700 px-2 sm:px-4 py-1 text-xs sm:text-sm uppercase text-white">
              BOOK
            </button>
          </a>

        </div>

        <div>
          <input type="text" name="" id="" placeholder="Add a comment" class="border border-slate-600 rounded-lg p-2 w-3/5">
        </div>

      </div>


      
    </div>

  </div> 
  <!-- End Header -->

</div>
<!-- END RIGHT SIDE -->    
{% endblock content %}