{% extends "base.html" %}
{% load static %}

{% block title %}
  Book Appointment
{% endblock title %}

{% block content %}
  
    <!-- RIGHT SIDE -->
    <div class="main_body transition-all duration-500 pb-8 md:w-4/5 w-full sm:ml-auto min-h-screen bg-slate-400">

        <div class="py-4 ml-10">
          <h1 class="font-bold text-md sm:text-xl text-slate-900">Bookings</h1>
          <h2 class=" font-bold text-sm sm:text-lg text-slate-900"><a href="dashboard.html">Home</a> | <span><a href="book_appointment.html">Book Appointment</a></span></h2>
        </div>

        <div class="text-xs sm:text-sm mt-4 mx-2 sm:mx-8 h-full pb-4 bg-white shadow-lg rounded-t-lg">

          <!-- Form Title -->
          <div class="bg-slate-700 w-full py-2 px-8 rounded-t-lg">
            <h1 class="text-white font-bold text-lg">Book</h1>
          </div>
          <!-- End Form Title -->

          <!-- Speciality -->

          <div class="px-2 sm:px-4 lg:px-8 py-4">
              <label for="" class="text-slate-900 font-bold lg:mr-8">Speciality :</label>
              <select class="w-[70%] border bg-slate-200 rounded-lg p-2 border-black">
                <option value="option1">Select One </option>
                <option value="option2">Pathology</option>
                <option value="option2">Cardiology</option>
                <option value="option3">Cardithoracy</option>
                <option value="option3">Gynaecology</option>
                <option value="option3">Pediatric</option>
                <option value="option3">Opthometry</option>
                <option value="option3">Neurology</option>
                <option value="option3">Neurosurgeon</option>
                <option value="option3">Nephrology</option>
                <option value="option3">Opthalmology</option>
                <option value="option3">Physician Speciality</option>
                <option value="option3">Family Medicine</option>
                <option value="option3">Orthopedics</option>
              </select>          
          </div>
          <!-- End Speciality -->

          <div class="flex justify-center my-4">
            <button class="sm:text-sm bg-blue-600 py-2 px-8 rounded-lg text-white font-semibold">
              Search
            </button>
          </div>

        </div>

        <div class="text-sm mb-16 md:mb-4 mx-2 sm:mx-8 h-full px-8 py-4 bg-white shadow-lg rounded-b-lg">

          <div class="grid xs:grid-cols-2 sm:grid-cols-3 lg:grid-cols-4">

            <a href="book_appointment2.html">
              <div class="flex flex-col items-center justify-center">
                <div class="bg-white text-center w-32 sm:w-40 rounded-xl shadow-xl my-4">
                  <img src="../images/prof0.jpg" alt="" class="h-30 w-32 sm:h-40 sm:w-40 rounded-t-xl">
                  <div class="py-4">
                    <h1 class="font-bold">Dr. John Brown</h1>
                    <h1>Optician</h1>
                  </div>
                </div>
              </div>
            </a>

            <a href="book_appointment2.html">
              <div class="flex flex-col items-center justify-center">
                <div class="bg-white text-center w-32 sm:w-40 rounded-xl shadow-xl my-4">
                  <img src="../images/prof0.jpg" alt="" class="h-30 w-32 sm:h-40 sm:w-40 rounded-t-xl">
                  <div class="py-4">
                    <h1 class="font-bold">Dr. John Brown</h1>
                    <h1>Optician</h1>
                  </div>
                </div>
              </div>
            </a>

            <a href="book_appointment2.html">
              <div class="flex flex-col items-center justify-center">
                <div class="bg-white text-center w-32 sm:w-40 rounded-xl shadow-xl my-4">
                  <img src="../images/prof0.jpg" alt="" class="h-30 w-32 sm:h-40 sm:w-40 rounded-t-xl">
                  <div class="py-4">
                    <h1 class="font-bold">Dr. John Brown</h1>
                    <h1>Optician</h1>
                  </div>
                </div>
              </div>
            </a>

            <a href="book_appointment2.html">
              <div class="flex flex-col items-center justify-center">
                <div class="bg-white text-center w-32 sm:w-40 rounded-xl shadow-xl my-4">
                  <img src="../images/prof0.jpg" alt="" class="h-30 w-32 sm:h-40 sm:w-40 rounded-t-xl">
                  <div class="py-4">
                    <h1 class="font-bold">Dr. John Brown</h1>
                    <h1>Optician</h1>
                  </div>
                </div>
              </div>
            </a>

            <a href="book_appointment2.html">
              <div class="flex flex-col items-center justify-center">
                <div class="bg-white text-center w-32 sm:w-40 rounded-xl shadow-xl my-4">
                  <img src="../images/prof0.jpg" alt="" class="h-30 w-32 sm:h-40 sm:w-40 rounded-t-xl">
                  <div class="py-4">
                    <h1 class="font-bold">Dr. John Brown</h1>
                    <h1>Optician</h1>
                  </div>
                </div>
              </div>
            </a>

            <a href="book_appointment2.html">
              <div class="flex flex-col items-center justify-center">
                <div class="bg-white text-center w-32 sm:w-40 rounded-xl shadow-xl my-4">
                  <img src="../images/prof0.jpg" alt="" class="h-30 w-32 sm:h-40 sm:w-40 rounded-t-xl">
                  <div class="py-4">
                    <h1 class="font-bold">Dr. John Brown</h1>
                    <h1>Optician</h1>
                  </div>
                </div>
              </div>
            </a>

            <a href="book_appointment2.html">
              <div class="flex flex-col items-center justify-center">
                <div class="bg-white text-center w-32 sm:w-40 rounded-xl shadow-xl my-4">
                  <img src="../images/prof0.jpg" alt="" class="h-30 w-32 sm:h-40 sm:w-40 rounded-t-xl">
                  <div class="py-4">
                    <h1 class="font-bold">Dr. John Brown</h1>
                    <h1>Optician</h1>
                  </div>
                </div>
              </div>
            </a>

            <a href="book_appointment2.html">
              <div class="flex flex-col items-center justify-center">
                <div class="bg-white text-center w-32 sm:w-40 rounded-xl shadow-xl my-4">
                  <img src="../images/prof0.jpg" alt="" class="h-30 w-32 sm:h-40 sm:w-40 rounded-t-xl">
                  <div class="py-4">
                    <h1 class="font-bold">Dr. John Brown</h1>
                    <h1>Optician</h1>
                  </div>
                </div>
              </div>
            </a>

            <a href="book_appointment2.html">
              <div class="flex flex-col items-center justify-center">
                <div class="bg-white text-center w-32 sm:w-40 rounded-xl shadow-xl my-4">
                  <img src="../images/prof0.jpg" alt="" class="h-30 w-32 sm:h-40 sm:w-40 rounded-t-xl">
                  <div class="py-4">
                    <h1 class="font-bold">Dr. John Brown</h1>
                    <h1>Optician</h1>
                  </div>
                </div>
              </div>
            </a>

            <a href="book_appointment2.html">
              <div class="flex flex-col items-center justify-center">
                <div class="bg-white text-center w-32 sm:w-40 rounded-xl shadow-xl my-4">
                  <img src="../images/prof0.jpg" alt="" class="h-30 w-32 sm:h-40 sm:w-40 rounded-t-xl">
                  <div class="py-4">
                    <h1 class="font-bold">Dr. John Brown</h1>
                    <h1>Optician</h1>
                  </div>
                </div>
              </div>
            </a>

            <a href="book_appointment2.html">
              <div class="flex flex-col items-center justify-center">
                <div class="bg-white text-center w-32 sm:w-40 rounded-xl shadow-xl my-4">
                  <img src="../images/prof0.jpg" alt="" class="h-30 w-32 sm:h-40 sm:w-40 rounded-t-xl">
                  <div class="py-4">
                    <h1 class="font-bold">Dr. John Brown</h1>
                    <h1>Optician</h1>
                  </div>
                </div>
              </div>
            </a>


          </div>

        </div>

    </div>
          
    <!-- END RIGHT SIDE -->
{% endblock content %}
