{% load compress %}
{% load static %}
<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% compress css  %}
  <link href="{% static 'src/output.css' %}" rel="stylesheet">
  <link href="{% static 'css/patient_list.css' %}" rel="stylesheet">
  {% endcompress %}
</head>
<body class="bg-gray-200">
  <div>

    <!-- RIGHT SIDE -->
    <div class="main_body transition-all duration-500 pb-8 min-h-screen bg-slate-300">

      <div class="flex items-center justify-center pb-4 pt-12">
        <img src="{% static 'images/nav_logo.png' %}" alt="" class="w-16 h-16">
        <h1 class="font-bold text-5xl text-slate-900">HIS</h1>
      </div>

      <form action="" method="post">
        <div class="flex justify-center">
          <div class="text-xs sm:text-sm mb-16 md:mb-4 mx-2 sm:mx-8 h-full w-[90%] sm:w-3/5 lg:w-[35%] pb-4 bg-white shadow-lg rounded-lg">
  
            <!-- Form Title -->
              <h1 class="text-slate-700 text-center font-bold text-3xl mt-12">Book Patient</h1>
              <h1 class="text-slate-700 text-center font-semibold mt-2 mb-6">Book patient to meet doctor</h1>
            <!-- End Form Title -->
    
            <!-- First Name and Last Name -->
  
              <div class="text-xs md:text-sm lg:text-md flex items-center px-4 sm:px-6 justify-between my-4">
                  <label for="" class="text-slate-900 font-bold">Patient ID: </label>
                  <input type="text" placeholder="Patient ID" class=" bg-slate-200 p-2 border border-black rounded-lg w-[73%]">
              </div>
  
              <div class="text-xs md:text-sm lg:text-md flex items-center px-4 sm:px-6 justify-between my-4">
                  <label for="" class="text-slate-900 font-bold">Temperature: </label>
                  <input type="text" placeholder="Blood pressure" class=" bg-slate-200 p-2 border border-black rounded-lg w-[73%]">
              </div>
  
              <div class="text-xs md:text-sm lg:text-md flex items-center px-4 sm:px-6 justify-between my-4">
                  <label for="" class="text-slate-900 font-bold">Blood pressure:</label>
                  <input type="text" placeholder="Blood pressure" class=" bg-slate-200 p-2 border border-black rounded-lg w-[73%]">
              </div>
  
            <!-- End First Name and Last Name -->
  
  
            <!--Contact and Email-->
  
              <div class="text-xs md:text-sm lg:text-md flex items-center px-4 sm:px-8 justify-between my-4">
                  <label for="" class="text-slate-900 font-bold">Triage: </label>
                  <select class="border bg-slate-200 rounded-lg p-2 w-[73%] border-black">
                    <option value="option1">Select One </option>
                    <option value="option2">Critical</option>
                    <option value="option3">Severe</option>
                    <option value="option3">Normal</option>
                  </select>          
              </div>
  
              <div class="text-xs md:text-sm lg:text-md flex items-center px-4 sm:px-6 justify-between my-4">
                <label for="" class="text-slate-900 font-bold">Comments:</label>
                <input type="text" placeholder="Add comments" class=" bg-slate-200 p-2 border border-black rounded-lg w-[73%]">
              </div>
  
  
            <!-- End Contact and Email -->
  
            <!-- Save and Continue -->
            <div class="flex items-center justify-center px-4 sm:px-8">
              <a href="{% url 'patient_list' %}">
                <input type="button" value="Book" class=" text-base bg-blue-600 px-8 py-3 my-4 rounded-lg text-white font-semibold">
              </a>
            </div>
            <!--End Save and Continue -->
  
  
  
          </div>
        </div>
      </form>
          
    </div>
  </div>
    <!-- END RIGHT SIDE -->
</body>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2"></script>
</html>