{% extends "base.html" %}
{% load static %}

{% block title %}
  Medication
{% endblock title %}

{% block content %}
  
<!-- RIGHT SIDE -->
<div class=" main_body transition-all duration-500 md:w-4/5 w-full ml-auto h-auto bg-slate-200">
  
  <!-- Header -->
  <div class="bg-slate-400 h-auto sm:h-60 pb-10 sm:pb-0">

    <div class="py-4 ml-10">
      <h1 class="font-bold text-md sm:text-xl text-slate-900">Diagnosis</h1>
      <h2 class=" font-bold text-sm sm:text-lg text-slate-900"><a href="patient_list.html">Home</a> | <span><a href="#">Al-Waasiu</a></span></h2>
    </div>

    <div class="sm:flex space-y-10 sm:space-y-0 px-1 sm:px-4 md:px-8">

      <div class="space-y-1 mx-auto text-center block w-3/5 sm:w-1/4 rounded-lg bg-white p-4 sm:mx-6 items-center">

        <h5
          class="text-lg font-bold leading-tight text-neutral-800">
          All
        </h5>

        <h1 class="text-xl">
          13
        </h1>

        <p class="text-base font-semibold text-neutral-600">
          Last Updated
        </p>

        <p class="text-base font-medium text-neutral-600">
          A min ago
        </p>
      </div>

      <div class="space-y-1 mx-auto text-center block w-3/5 sm:w-1/4 rounded-lg bg-white p-4 sm:mx-6 items-center opacity-70">

        <h5
          class=" text-lg font-bold leading-tight text-neutral-800">
          Completed
        </h5>

        <h1 class=" text-xl">
          6
        </h1>

        <p class=" text-base font-semibold text-neutral-600">
          Last Updated
        </p>

        <p class=" text-base font-medium text-neutral-600">
          A min ago
        </p>
      </div>

      <div class=" space-y-1 mx-auto text-center block w-3/5 sm:w-1/4 rounded-lg bg-white p-4 sm:mx-6 items-center opacity-70">

        <h5
          class=" text-lg font-bold leading-tight text-neutral-800">
          Uncompleted
        </h5>

        <h1 class=" text-xl">
          7
        </h1>

        <p class=" font-semibold text-neutral-600">
          Last Updated
        </p>

        <p class="  text-neutral-600">
          A min ago
        </p>
      </div>

    </div>
  </div> 
  <!-- End Header -->

  <!-- Patient list -->
  <div class="bg-gray-200 mx-4 sm:mx-8 md:mx-10 lg:mx-16 pb-10">
    <div class="my-6">
      <button class="rounded bg-slate-400 px-4 py-1 uppercase">
        Filter
      </button>
    </div>

    <div class="flex w-auto text-xs sm:text-sm my-4 h-16 px-6 items-center justify-between bg-white shadow-lg rounded-lg">
      <div>
        <h1 class="uppercase font-bold">id 89276</h1>
        <p >12 Mins ago</p>
      </div>

      <div class="hidden xxs:block">
        <h1 class="uppercase font-bold">patient</h1>
        <p>Abubakari Al-Waasiu</p>
      </div>

      <div class="hidden xs:block">
        <h1 class="uppercase font-bold">doctor</h1>
        <p>Farad Wells</p>
      </div>

      <div>
        <h1 class="uppercase font-bold">status</h1>
        <p class="text-yellow-500 font-bold">pending</p>
      </div>

      <div>
        <a href="patient.html">
          <button class="rounded bg-blue-700 px-4 py-1 text-sm uppercase text-white">
            view
          </button>
        </a>
        
      </div>

    </div>
    
    <div class="flex w-auto text-xs sm:text-sm my-4 h-16 px-6 items-center justify-between bg-white shadow-lg rounded-lg">
      <div>
        <h1 class="uppercase font-bold">id 89276</h1>
        <p >12 Mins ago</p>
      </div>

      <div class="hidden xxs:block">
        <h1 class="uppercase font-bold">patient</h1>
        <p>Abubakari Al-Waasiu</p>
      </div>

      <div class="hidden xs:block">
        <h1 class="uppercase font-bold">doctor</h1>
        <p>Farad Wells</p>
      </div>

      <div>
        <h1 class="uppercase font-bold">status</h1>
        <p class="text-yellow-500 font-bold">pending</p>
      </div>

      <div>
        <a href="patient.html">
          <button class="rounded bg-blue-700 px-4 py-1 text-sm uppercase text-white">
            view
          </button>
        </a>
        
      </div>

    </div>

    <div class="flex w-auto text-xs sm:text-sm my-4 h-16 px-6 items-center justify-between bg-white shadow-lg rounded-lg">
      <div>
        <h1 class="uppercase font-bold">id 89276</h1>
        <p >12 Mins ago</p>
      </div>

      <div class="hidden xxs:block">
        <h1 class="uppercase font-bold">patient</h1>
        <p>Abubakari Al-Waasiu</p>
      </div>

      <div class="hidden xs:block">
        <h1 class="uppercase font-bold">doctor</h1>
        <p>Farad Wells</p>
      </div>

      <div>
        <h1 class="uppercase font-bold">status</h1>
        <p class="text-yellow-500 font-bold">pending</p>
      </div>

      <div>
        <a href="patient.html">
          <button class="rounded bg-blue-700 px-4 py-1 text-sm uppercase text-white">
            view
          </button>
        </a>
        
      </div>

    </div>

    <div class="flex w-auto text-xs sm:text-sm my-4 h-16 px-6 items-center justify-between bg-white shadow-lg rounded-lg">
      <div>
        <h1 class="uppercase font-bold">id 89276</h1>
        <p >12 Mins ago</p>
      </div>

      <div class="hidden xxs:block">
        <h1 class="uppercase font-bold">patient</h1>
        <p>Abubakari Al-Waasiu</p>
      </div>

      <div class="hidden xs:block">
        <h1 class="uppercase font-bold">doctor</h1>
        <p>Farad Wells</p>
      </div>

      <div>
        <h1 class="uppercase font-bold">status</h1>
        <p class="text-yellow-500 font-bold">pending</p>
      </div>

      <div>
        <a href="patient.html">
          <button class="rounded bg-blue-700 px-4 py-1 text-sm uppercase text-white">
            view
          </button>
        </a>
        
      </div>

    </div>

    <div class="flex w-auto text-xs sm:text-sm my-4 h-16 px-6 items-center justify-between bg-white shadow-lg rounded-lg">
      <div>
        <h1 class="uppercase font-bold">id 89276</h1>
        <p >12 Mins ago</p>
      </div>

      <div class="hidden xxs:block">
        <h1 class="uppercase font-bold">patient</h1>
        <p>Abubakari Al-Waasiu</p>
      </div>

      <div class="hidden xs:block">
        <h1 class="uppercase font-bold">doctor</h1>
        <p>Farad Wells</p>
      </div>

      <div>
        <h1 class="uppercase font-bold">status</h1>
        <p class="text-yellow-500 font-bold">pending</p>
      </div>

      <div>
        <a href="patient.html">
          <button class="rounded bg-blue-700 px-4 py-1 text-sm uppercase text-white">
            view
          </button>
        </a>
        
      </div>

    </div>

    <div class="flex w-auto text-xs sm:text-sm my-4 h-16 px-6 items-center justify-between bg-white shadow-lg rounded-lg">
      <div>
        <h1 class="uppercase font-bold">id 89276</h1>
        <p >12 Mins ago</p>
      </div>

      <div class="hidden xxs:block">
        <h1 class="uppercase font-bold">patient</h1>
        <p>Abubakari Al-Waasiu</p>
      </div>

      <div class="hidden xs:block">
        <h1 class="uppercase font-bold">doctor</h1>
        <p>Farad Wells</p>
      </div>

      <div>
        <h1 class="uppercase font-bold">status</h1>
        <p class="text-yellow-500 font-bold">pending</p>
      </div>

      <div>
        <a href="patient.html">
          <button class="rounded bg-blue-700 px-4 py-1 text-sm uppercase text-white">
            view
          </button>
        </a>
        
      </div>

    </div>

    <div class="flex w-auto text-xs sm:text-sm my-4 h-16 px-6 items-center justify-between bg-white shadow-lg rounded-lg">
      <div>
        <h1 class="uppercase font-bold">id 89276</h1>
        <p >12 Mins ago</p>
      </div>

      <div class="hidden xxs:block">
        <h1 class="uppercase font-bold">patient</h1>
        <p>Abubakari Al-Waasiu</p>
      </div>

      <div class="hidden xs:block">
        <h1 class="uppercase font-bold">doctor</h1>
        <p>Farad Wells</p>
      </div>

      <div>
        <h1 class="uppercase font-bold">status</h1>
        <p class="text-yellow-500 font-bold">pending</p>
      </div>

      <div>
        <a href="patient.html">
          <button class="rounded bg-blue-700 px-4 py-1 text-sm uppercase text-white">
            view
          </button>
        </a>
        
      </div>

    </div>

    <div class="flex w-auto text-xs sm:text-sm my-4 h-16 px-6 items-center justify-between bg-white shadow-lg rounded-lg">
      <div>
        <h1 class="uppercase font-bold">id 89276</h1>
        <p >12 Mins ago</p>
      </div>

      <div class="hidden xxs:block">
        <h1 class="uppercase font-bold">patient</h1>
        <p>Abubakari Al-Waasiu</p>
      </div>

      <div class="hidden xs:block">
        <h1 class="uppercase font-bold">doctor</h1>
        <p>Farad Wells</p>
      </div>

      <div>
        <h1 class="uppercase font-bold">status</h1>
        <p class="text-yellow-500 font-bold">pending</p>
      </div>

      <div>
        <a href="patient.html">
          <button class="rounded bg-blue-700 px-4 py-1 text-sm uppercase text-white">
            view
          </button>
        </a>
        
      </div>

    </div>

    
  </div>
  <!-- End Patient list -->

</div>
<!-- END RIGHT SIDE -->
{% endblock content %}
    