<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="./output.css" rel="stylesheet">
  <link href="./css/patient_list.css" rel="stylesheet">
  <link href="./css/sessions.css" rel="stylesheet">
</head>
<body class="bg-gray-200">
  <div>
 <!-- Navbar -->
 <nav class="fixed bg-white w-full flex px-3 sm:px-5 md:px-10 py-2 h-14 shadow-xl z-50">
  <div class="w-1/2 flex justify-between items-center ">

    <div class="flex items-center text-center py-2">
      <img src="../images/nav_logo.png" class="w-[32px] mr-2" alt="">
      <p class="text-xl sm:text-2xl md:text-3xl font-bold">HIS</p>
    </div>

    <div class="flex w-1/2">
      <img src="../images/menu_squared.png" alt="" class=" mr-2 toggle_btn h-10 w-10 hidden md:block">
      <input type="text" placeholder="Patient's name/ ID" class="hidden sm:block border px-3 py-1 w-60 font-semibold text-lg rounded-xl">
    </div>

  </div>
  <div class="flex w-1/2 justify-end items-center px-3 sm:px-5 md:px-10">

    <!-- Trigger button -->
    <img src="../images/icons8-search-50.png" class="search block sm:hidden w-6 h-6 mx-6">


    <!-- Modal container -->
    <div class="fixed top-0 z-10 inset-x-0 overflow-y-auto hidden" id="myModal">
    <div class="flex items-end justify-center pt-14 px-4 text-center sm:block sm:p-0">
      <!-- Background overlay -->
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0" id="modalOverlay"></div>
      </div>

      <!-- Modal content -->
      <div class="bg-gray-50 overflow-hidden shadow-2xl w-full">
              <div class="flex justify-between items-center px-4">
                <input type="text" placeholder="Patient's name/ ID" class="w-48 sm:w-96 border px-3 py-1 font-semibold text-lg rounded-xl">
                <div class="px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                  <img src="../images/icons8-close-50.png" alt="" class="cb w-6 h-6">
                </div>
              </div>
      </div>
    </div>
    </div>

    <div x-data="{ open: false }" class="inline-block text-left">
      <!-- Trigger button -->
      <div @click="open = !open" class="flex items-center">
        <img src="../images/profile1.jpg" alt="" class="rounded-full w-10 h-10 mr-2">
        <h1 class="hidden md:block font-semibold text-lg">A. Al-Waasiu</h1>
        <img  src="../images/profilearrow.png" alt="" class="mx-1 w-3 h-3">
      </div>
      <!-- Dropdown content -->
      <div x-show="open" @click.away="open = false" class="absolute right-[5%] text-black pt-2">

        <div class="bg-white border border-black rounded-lg w-48 px-2">
          
          <div class="flex justify-center text-center">
            <div class="font-semibold">
              <h1 class="text-sm mt-1">Abubakari Al-Waasiu</h1>
              <p class="text-xs mb-2">Web Developer</p>
            </div>
          </div>

          <hr>

          <ul class="">
            <div class="flex hover:bg-gray-200 py-1">
              <img src="../images/icons8-test-account-48.png" alt="" class="w-5 h-5 mx-2">
              <li><a href="doctor_profile.html" class="block text-sm">My Profile</a></li>
            </div>
            <hr>
            <div class="flex hover:bg-gray-200 py-1">
              <img src="../images/icons8-settings-50.png" alt="" class="w-5 h-5 mx-2">
              <li><a href="settings.html" class="block text-sm">Account Settings</a></li>
            </div>
            <hr>
            <div class="flex hover:bg-gray-200 py-1">
              <img src="../images/icons8-help-50.png" alt="" class="w-5 h-5 mx-2">
              <li><a href="trial.html" class="block text-sm">Help</a></li>
            </div>
            <hr>
            <div class="flex hover:bg-gray-200 py-1">
              <img src="../images/icons8-logout-50.png" alt="" class="w-4 h-4 mx-2">
              <li><a href="login.html" class="block text-sm">Log out</a></li>
            </div>
          </ul>

        </div>
      </div>
    </div>        
    
  </div>
</nav>
<!-- End nav -->

    <!-- LEFT SIDE -->

    <!-- Sidebar -->
    <div class="flex pt-[3.5rem]"></div>
    <!-- Toggle Sidebar -->
    <div class="sidebar transition-all duration-200 space-y-10 fixed w-1/5 h-[100vh] hidden md:block bg-slate-900">

      <div class="flex bg-slate-400 mx-[6%] rounded-xl mt-10 px-4 items-center "> 
        <a href="dashboard.html" class="flex items-center">
        <img src="../images/home.png" class="w-10 h-10" alt="" > 
        <p class="text-white  font-bold ml-4 transition-all duration-200" id="side_text">Home</p>
        </a>           
      </div>

      
      <div class="flex bg-slate-400 mx-[6%] rounded-xl px-4 "> 
        <a href="patient_list.html" class="flex items-center">
          <img src="../images/patient_list.png" alt="" class="w-10 h-10 "> 
          <p class="text-white font-bold ml-4 transition-all duration-200"id="side_text" >Patients</p> 
        </a>  
      </div>

      <div class="flex bg-slate-400 mx-[6%] rounded-xl px-4 items-center"> 
        <a href="session_dashboard.html" class="flex items-center">
          <img src="../images/icons8-appointment-48.png" alt="" class="w-10 h-10"> 
          <p class="text-white font-bold ml-4 transition-all duration-200" id="side_text">Sessions</p>   
        </a>
      </div>

      <div class="flex bg-slate-400 mx-[6%] rounded-xl px-4 items-center"> 
        <a href="chats.html" class="flex items-center">
          <img src="../images/chats.png" class="w-10 h-10" alt="" > 
          <p class="text-white font-bold ml-4 transition-all duration-200" id="side_text" >Chats</p> 
        </a>  
      </div>

      <div class="flex bg-slate-400 mx-[6%] rounded-xl px-4 items-center"> 
        <a href="settings.html" class="flex items-center">
          <img src="../images/settings.png" class="w-10 h-10" alt="" > 
          <p class="text-white font-bold ml-4 transition-all duration-200" id="side_text">Settings</p>  
        </a> 
      </div>

    </div>
    <!-- end Sidebar -->

    <!-- bottom bar -->
    <div class="fixed flex justify-between items-center px-4 md:hidden bottom-0 w-full h-[50px] z-50 bg-slate-900 py-8 text-white bg-opacity-90">
      <a href="dashboard.html">
        <img src="../images/home.png" class="w-8 h-8" alt="" >
        <p class="text-[12px] font-bold">Home</p>
      </a>
      <a href="patient_list.html">
        <img src="../images/patient_list.png" alt="" class="w-8 h-8 ">
        <p class="text-[12px] font-bold">Patient</p>
      </a>
      <a href="session_dashboard.html">
        <img src="../images/icons8-appointment-48.png" alt="" class="w-8 h-8">
        <p class="text-[12px] font-bold">Sessions</p>
      </a>
      <a href="chats.html">
        <img src="../images/chats.png" class="w-8 h-8" alt="" >
        <p class="text-[12px] font-bold">Chats</p>
      </a>
      <a href="settings.html">
        <img src="../images/settings.png" class="w-8 h-8" alt="" >
        <p class="text-[12px] font-bold">Settings</p>
      </a> 
      
    </div>
    <!-- End bottom bar -->
    
    <!-- END LEFT SIDE -->



    <!-- RIGHT SIDE -->
    <div class="main_body transition-all duration-500 md:w-4/5 w-full sm:ml-auto min-h-screen bg-slate-400">
      
      <!-- Header -->
      <div class="bg-slate-400 h-auto sm:min-h-screen pb-10 sm:pb-0">

        <div class="py-4 ml-10">
          <h1 class="font-bold text-md sm:text-xl text-slate-900">Session</h1>
          <h2 class=" font-bold text-sm sm:text-lg text-slate-900"><a href="dashboard.html">Home</a> | <span><a href="session_dashboard.html">My Sessions</a></span></h2>
      </div>
      <!-- End Header -->

      <!-- Patient list -->
      <div class="bg-slate-400 mx-4 sm:mx-8 md:mx-10 lg:mx-16 pb-10">
        <div>
          <div class="my-6 flex justify-between">
            <button class="rounded bg-slate-900 text-xs sm:text-sm md:text-md text-white px-4 py-1 uppercase">
              SCHEDULED
            </button>
            <a href="book_appointment.html">
              <button class="rounded bg-slate-900 text-xs sm:text-sm md:text-md text-white px-4 py-1 uppercase">
                BOOK
              </button>
            </a>
          </div>
          
          <div class="hover:shadow-2xl text-[11px] sm:text-sm my-4 px-4 py-[10px] sm:px-6 bg-white shadow-lg rounded-lg">
            
            <div>
              <h1 class="font-bold">2:00pm Today, <span class="mx-2 font-semibold">21/03/2024</span></h1>
            </div>

            <div class="flex text-[10px] sm:text-sm h-16 items-center justify-between bg-white">
              <div>
                <h1 class="uppercase font-bold">Doctor</h1>
                <p class="">Farad Wells</p>
              </div>
    
              <div class="">
                <h1 class="uppercase font-bold">Time</h1>
                <p class="">2:00 pm</p>
              </div>
    
              <div class="hidden xxs:block">
                <h1 class="uppercase font-bold">Type</h1>
                <p class="">In Person</p>
              </div>
    
              <div class="hidden xs:block">
                <h1 class="uppercase font-bold">Comments</h1>
                <a href="#" class="underline text-blue-400 font-bold">comments</a>
              </div>
    
              <div>
                <h1 class="uppercase font-bold text-center">Actions</h1>
                <div class="flex space-x-2 items-center">
                  <a href="patient.html">
                    <button class="rounded bg-blue-700 px-1 sm:px-4 py-1 text-xxs sm:text-xs uppercase text-white">
                      JOIN
                    </button>
                  </a>
  
                  <a href="#">
                    <img src="../images/icons8-wrong-50.png" alt="" class="w-5 xs:w-6 h-5 xs:h-6">
                  </a>
                </div>
    
              </div>
            </div>

          </div>
          
          <div class="hover:shadow-2xl text-[11px] sm:text-sm my-4 px-4 py-[10px] sm:px-6 bg-white shadow-lg rounded-lg">
            
            <div>
              <h1 class="font-bold">7:00pm Tomorrow, <span class="mx-2 font-semibold">22/03/2024</span></h1>
            </div>

            <div class="flex text-[10px] sm:text-sm h-16 items-center justify-between bg-white">
              <div>
                <h1 class="uppercase font-bold">Doctor</h1>
                <p class="">Abu Lukman</p>
              </div>
    
              <div class="">
                <h1 class="uppercase font-bold">Time</h1>
                <p class="">2:00 pm</p>
              </div>
    
              <div class="hidden xxs:block">
                <h1 class="uppercase font-bold">Type</h1>
                <p class="">Virtual</p>
              </div>
    
              <div class="hidden xs:block">
                <h1 class="uppercase font-bold">Comments</h1>
                <a href="#" class="underline text-blue-400 font-bold">comments</a>
              </div>
    
              <div>
                <h1 class="uppercase font-bold text-center">Actions</h1>
                <div class="flex space-x-2 items-center">
                  <a href="patient.html">
                    <button class="rounded bg-blue-700 px-1 sm:px-4 py-1 text-xxs sm:text-xs uppercase text-white">
                      JOIN
                    </button>
                  </a>
  
                  <a href="#">
                    <img src="../images/icons8-wrong-50.png" alt="" class="w-5 xs:w-6 h-5 xs:h-6">
                  </a>
                </div>
    
              </div>
            </div>

          </div>
          
          <div class="hover:shadow-2xl text-[11px] sm:text-sm my-4 px-4 py-[10px] sm:px-6 bg-white shadow-lg rounded-lg">
            
            <div>
              <h1 class="font-bold">9:00am <span class="mx-2 font-semibold">21/05/2024</span></h1>
            </div>

            <div class="flex text-[10px] sm:text-sm h-16 items-center justify-between bg-white">
              <div>
                <h1 class="uppercase font-bold">Doctor</h1>
                <p class="">Nathan Yu</p>
              </div>
    
              <div class="">
                <h1 class="uppercase font-bold">Time</h1>
                <p class="">2:00 pm</p>
              </div>
    
              <div class="hidden xxs:block">
                <h1 class="uppercase font-bold">Type</h1>
                <p class="">Virtual</p>
              </div>
    
              <div class="hidden xs:block">
                <h1 class="uppercase font-bold">Comments</h1>
                <a href="#" class="underline text-blue-400 font-bold">comments</a>
              </div>
    
              <div>
                <h1 class="uppercase font-bold text-center">Actions</h1>
                <div class="flex space-x-2 items-center">
                  <a href="patient.html">
                    <button class="rounded bg-blue-700 px-1 sm:px-4 py-1 text-xxs sm:text-xs uppercase text-white">
                      JOIN
                    </button>
                  </a>
  
                  <a href="#">
                    <img src="../images/icons8-wrong-50.png" alt="" class="w-5 xs:w-6 h-5 xs:h-6">
                  </a>
                </div>
    
              </div>
            </div>

          </div>

        </div>

        <div>
          <div class="my-6">
            <button class="rounded text-xs sm:text-sm md:text-md bg-slate-900 text-white px-4 py-1 uppercase">
              COMPLETED
            </button>
          </div>
          <div class="hover:shadow-2xl flex w-auto text-[10px] sm:text-sm my-4 h-16 px-4 sm:px-6 items-center justify-between bg-white shadow-lg rounded-lg">
            <div>
              <h1 class="uppercase font-bold">Doctor</h1>
              <p class="">Nathan Yu</p>
            </div>
  
            <div class="">
              <h1 class="uppercase font-bold">Date</h1>
              <p class="">01/01/2024</p>
            </div>
  
            <div class="hidden xxs:block">
              <h1 class="uppercase font-bold">Treatment</h1>
              <p class="">Bleaching</p>
            </div>
  
            <div class="hidden xs:block">
              <h1 class="uppercase font-bold">Type</h1>
              <p class="">In Person</p>
            </div>

            <div class="hidden xs:block">
              <h1 class="uppercase font-bold">Comments</h1>
              <a href="#" class="underline text-blue-400 font-bold">comments</a>
            </div>
  
          </div>
          
        </div>
        
      </div>
        
      <!-- End Patient list -->

      </div> 
      <!-- End Header -->

    </div>
    <!-- END RIGHT SIDE -->

  </div>
    


  


</body>
<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2"></script>
<script src="./js/session.js"></script>
</html>