{% extends "base.html" %}
{% load static %}

{% block title %}
Medical Records
{% endblock title %}

{% block content %}

<!-- RIGHT SIDE -->
<div class="main_body transition-all duration-500 md:w-4/5 w-full ml-auto h-auto bg-slate-200">

  <!-- Header -->
  <div class="bg-slate-400 h-auto sm:min-h-screen pb-10 sm:pb-0">

    <div class="py-4 ml-10">
      <h1 class="font-bold text-md sm:text-xl text-slate-900">Records</h1>
      <h2 class=" font-bold text-sm sm:text-lg text-slate-900"><a href="{% url 'dashboard' %}">Home</a> | <span><a
            href="{% url 'patient_details' patient.profile_id %}"> {{request.user.full_name}} </a></span> | <span><a
            href="{% url 'get_medical_record' patient.profile_id %}">Records</a></span></h2>
    </div>

    <!-- Header Profile -->
    <div class="h-[20%] bg-gray-100 mb-8 flex justify-center mx-4 sm:mx-8 md:mx-10 lg:mx-16  rounded-lg">
      <div class="flex text-sm sm:text-lg p-5 text-slate-900 font-bold">
        <div class="flex justify-center">
          <img src="{{patient.profilemodel.profile_picture.url}}" alt="" class="rounded-[100%] w-[80px] h-[80px] ">
        </div>
        <div class=" text-gray-800 mx-3 flex justify-between items-center">
          <div class="text-xs xs:text-sm sm:text-[16px]">
            <h1>Name : {{patient.full_name}} </h1>
            <h1>ID : {{patient.profile_id}}</h1>
            <h1>Last Visited : 21/02/2023</h1>
          </div>
        </div>

      </div>
    </div>
    <!-- End Header Profile -->

    <!-- Patient list -->
    <div class="bg-slate-400 mx-4 sm:mx-8 md:mx-10 lg:mx-16 pb-10">

      {% for item in diagnosis %}
      <div
        class="flex w-auto text-xs sm:text-sm my-4 h-16 px-6 items-center justify-between bg-white shadow-lg rounded-lg">
          
        
        <div>
          <h1 class="uppercase font-bold">Date</h1>
          <p>{{item.date_created}}</p>
        </div>

        <div class="hidden xxs:block">
          <h1 class="uppercase font-bold">Doctor</h1>
          <p>{{item.doctor.full_name}}</p>
        </div>

        <div class="hidden xs:block">
          <h1 class="uppercase font-bold">diagnosis</h1>
          <p>{{item.diagnosis}}</p>
        </div>

        <div class="items-center">
          <h1 class="uppercase font-bold">Type</h1>
          <div class="flex justify-center">
            <p> {{item.type}} </p>
          </div>
        </div>

        <div>
          <a href="{% url 'patient_attendance' patient.profile_id  %}">
            <button class="rounded bg-blue-700 px-4 py-1 text-sm uppercase text-white">
              view
            </button>
          </a>
        </div>

      </div>
      {% endfor %}
    </div>


  </div>
  <!-- End Patient list -->

</div>
<!-- End Header -->

</div>
<!-- END RIGHT SIDE -->
{% endblock content %}