{% extends "base.html" %}
{% load static %}

{% block title %}
  Medical Record
{% endblock title %}

{% block content %}
  
<!-- RIGHT SIDE -->
  <div class="main_body transition-all duration-500 pb-8 md:w-4/5 w-full sm:ml-auto min-h-screen bg-slate-400">

      <div class="py-4 ml-10">
        <h1 class="font-bold text-md sm:text-xl text-slate-900">Add patient</h1>
        <h2 class=" font-bold text-sm sm:text-lg text-slate-900"><a href="{% url 'dashboard' %}">Home</a> | <span><a href="{% url 'patient_attendance' patient.profile_id %}">Medical Record</a></span></h2>
      </div>

      <div class="text-xs sm:text-sm mb-16 md:mb-4 mt-4 mx-2 sm:mx-8 h-full pb-4 bg-white shadow-lg rounded-lg">

        <!-- Form Title -->
        <div class="bg-slate-700 w-full py-2 px-8 rounded-t-lg">
          <h1 class="text-white font-bold text-lg">Medical Record</h1>
        </div>
        <!-- End Form Title -->

        <!-- Temperature and blood pressure -->
        <div class="flex flex-col justify-between lg:flex-row space-y-4 lg:space-y-0 lg:space-x-6 my-4 px-4 sm:px-8">

          <div class="flex text-sm font-bold space-x-2">
              <h1>Temperature : </h1>
              <h1>{{bookings.temperature}} degrees Celsius</h1>
          </div>

          <div class=" flex text-sm font-bold space-x-2">
            <h1>Blood Pressure : </h1>
            <h1> {{bookings.blood_pressure}} mmHg</h1>
          </div>

          <div class=" flex text-sm font-bold space-x-2">
            <h1 class="uppercase font-bold text-center">Triage</h1>
              {% if bookings.triage == 'CRITICAL' %} 
                <block class="bg-red-700 text-transparent">aaaaaaa</block>
              {% elif bookings.triage == 'SEVERE' %}
                <block class="bg-yellow-500 text-transparent">aaaaaaa</block>
              {% else  %}
                <block class="bg-green-700 text-transparent">aaaaaaa</block>
              {% endif %}
          </div>

        </div>
        <!-- End Temperature and blood pressure -->

        <!-- comment -->
        <div class="px-4 sm:px-8 my-4">
          <h1 class="font-bold">Comments</h1>
          <p>{{bookings.comments}}</p>
        </div>
        <!-- End comment -->

        <!-- Diagnosis -->
        {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }} border px-4 py-3 rounded relative" role="alert">
                  <span class="block sm:inline">{{ message }}</span>
              </div>
          {% endfor %}
        {% endif %}
        <form method="POST" action="{% url 'add_diagnosis' patient.profile_id %}">
          {% csrf_token %}
          <div class="px-4 sm:px-8 my-4">
            
            <div class="bg-slate-700 flex items-center justify-between w-full py-2 px-2 sm:px-4 lg:px-8 rounded-t-lg">
              <h1 class="text-white font-bold text-[16px]">Diagnosis</h1>
              <img src="{% static 'images/icons8-add-48.png' %}" alt="" class="w-8 h-8">
            </div>

            <div class="w-full p-2 sm:px-4 lg:px-8 shadow-lg bg-slate-200">

              <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 my-4 justify-between">

                <div class="w-full sm:w-1/2 text-xxs md:text-sm flex items-center mr-0 lg:mr-4">
                  <div class="w-[40%] sm:w-[30%]">
                    <label for="diagnosis" class="text-slate-900 font-bold">Diagnosis : </label>
                  </div>
                  <div class="w-[60%] sm:w-[70%]">
                    <select name="diagnosis" id="diagnosis" class="md:mx-4 border bg-slate-200 rounded-lg p-2 w-[90%] sm:[w-80%] border-black">
                      <option value="">Select One </option>
                      <option value="Headache">Headache</option>
                      <option value="Seizures">Seizures</option>
                      <option value="Diabetes">Diabetes</option>
                      <option value="Hypertension">Hypertension</option>
                      <option value="Depression">Depression</option>
                      <option value="Pneumonia">Pneumonia</option>
                      <option value="Arthritis">Arthritis</option>
                      <option value="Dermatitis">Dermatitis</option>
                      <option value="Back pain">Back pain</option>
                    </select>          
                  </div>
                </div>

                <div class="w-full sm:w-1/2 text-xxs md:text-sm lg:text-md flex items-center">
                  <div class="w-[40%] sm:w-[30%]">
                    <label for="diagnosis_type" class="text-slate-900 font-bold">Type : </label>
                  </div>
                  <div class="w-[60%] sm:w-[70%]">
                    <select name="diagnosis_type" id="diagnosis_type" class="md:mx-4 border bg-slate-200 rounded-lg p-2 w-[90%] border-black">
                      <option value="option1">Select One </option>
                      <option value="Chronic">Chronic</option>
                      <option value="Acute">Acute</option>
                    </select>          
                  </div>
                </div>

              </div>

              <div class="flex justify-center">
                <button type="submit" class="bg-blue-700 text-white font-bold my-4 py-2 px-4 rounded-lg">Add</button>
              </div>
            </div>
          </div>
        </form>
        <!-- End Diagnosis -->

        <!-- Prescription -->
        <form method="POST" action="{% url 'add_prescription' patient.profile_id %}">
          {% csrf_token %}
          <div class="px-4 sm:px-8 mt-8 mb-4">
          
            <div class="bg-slate-700 flex items-center justify-between w-full py-2 px-2 sm:px-4 lg:px-8 rounded-t-lg">
              <h1 class="text-white font-bold text-[16px]">Prescription</h1>
              <img src="{% static 'images/icons8-add-48.png' %}" alt="" class="w-8 h-8">
            </div>
  
            <div class="w-full p-2 sm:px-4 lg:px-8 shadow-lg bg-slate-200">
  
              <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 my-4 justify-between">
  
                <div class="w-full sm:w-1/2 text-xxs md:text-sm flex items-center mr-0 lg:mr-4">
                  <div class="w-[40%] sm:w-[30%]">
                    <label for="medicine" class="text-slate-900 font-bold">Medicine : </label>
                  </div>
                  <div class="w-[60%] sm:w-[70%]">
                    <select name="medicine" id="medicine"  class="md:mx-4 border bg-slate-200 rounded-lg p-2 w-[90%] sm:[w-80%] border-black">
                      <option value="">Select One </option>
                      <option value="Paracetamol">Paracetamol </option>
                      <option value="Lacosamide">Lacosamide</option>
                      <option value="Metformin">Metformin</option>
                      <option value="ACE inhibitors">ACE inhibitors </option>
                      <option value="SSR inhibitors">SSR inhibitors</option>
                      <option value="Amoxicillin">Amoxicillin</option>
                      <option value="Azathioprines">Azathioprines  </option>
                      <option value="Hydrocortisones">Hydrocortisones</option>
                      <option value="Ibuprofen">Ibuprofen</option>
                      <option value="Doxycycline">Doxycycline</option>
                    </select>          
                  </div>
                </div>
  
                <div class="w-full sm:w-1/2 text-xxs md:text-sm lg:text-md flex items-center">
                  <div class="w-[40%] sm:w-[30%]">
                    <label for="strength" class="text-slate-900 font-bold">Strength : </label>
                  </div>
                  <div class="w-[60%] sm:w-[70%]">
                    <select name="strength" id="strength"  class="md:mx-4 border bg-slate-200 rounded-lg p-2 w-[90%] border-black">
                      <option value="">Select One </option>
                      <option value="50mg">50mg </option>
                      <option value="100mg">100mg</option>
                      <option value="200mg">200mg</option>
                      <option value="500mg">500mg</option>
                    </select>          
                  </div>
                </div>
  
              </div>
  
              <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 my-4 justify-between">
  
                <div class="w-full sm:w-1/2 text-xxs md:text-sm flex items-center mr-0 lg:mr-4">
                  <div class="w-[40%] sm:w-[30%]">
                    <label for="dose" class="text-slate-900 font-bold">Dose : </label>
                  </div>
                  <div class="w-[60%] sm:w-[70%]">
                    <select name="dose" id="dose"  class="md:mx-4 border bg-slate-200 rounded-lg p-2 w-[90%] sm:[w-80%] border-black">
                      <option value="">Select One </option>
                      <option value="OD">OD </option>
                      <option value="BID">BID</option>
                      <option value="TID">TID</option>
                      <option value="QID">QID</option>
                    </select>          
                  </div>
                </div>
  
                <div class="w-full sm:w-1/2 text-xxs md:text-sm lg:text-md flex items-center">
                  <div class="w-[40%] sm:w-[30%]">
                    <label for="quantity" class="text-slate-900 font-bold">Quantity : </label>
                  </div>
                  <div class="w-[60%] sm:w-[70%]">
                    <input type="number" name="quantity" id="quantity" class="md:mx-4 border bg-slate-200 rounded-lg p-2 w-[90%] border-black">
                  </div>
                </div>
  
              </div>
  
              <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 my-4 justify-between">
  
                <div class="w-full sm:w-1/2 text-xxs md:text-sm flex items-center mr-0 lg:mr-4">
                  <div class="w-[40%] sm:w-[30%]">
                    <label for="duration" class="text-slate-900 font-bold">Duration : </label>
                  </div>
                  <div class="w-[60%] sm:w-[70%]">
                    <select name="duration" id="duration"  class="md:mx-4 border bg-slate-200 rounded-lg p-2 w-[90%] sm:[w-80%] border-black">
                      <option value="">Select One </option>
                      <option value="1 week">1 week  </option>
                      <option value="2 weeks">2 weeks </option>
                      <option value="3 weeks">3 weeks </option>
                      <option value="1 month">1 month </option>
                      <option value="2 months">2 months</option>
                      <option value="3 months">3 months</option>
                    </select>          
                  </div>
                </div>
  
                <div class="w-full sm:w-1/2 text-xxs md:text-sm lg:text-md flex items-center">
                  <div class="w-[40%] sm:w-[30%]">
                    <label for="frequency" class="text-slate-900 font-bold">Frequency : </label>
                  </div>
                  <div class="w-[60%] sm:w-[70%]">
                    <select name="frequency" id="frequency" class="md:mx-4 border bg-slate-200 rounded-lg p-2 w-[90%] border-black">
                      <option value="">Select One </option>
                      <option value="Once daily">Once Daily</option>
                      <option value="Two times daily">Two Times Daily</option>
                      <option value="Three times daily">Three Times Daily</option>
                      <option value="Four times daily">Four Times Daily</option>
                    </select>          
                  </div>
                </div>
  
              </div>
  
              <div class="mt-8 mb-4">
                <h1 class="font-bold uppercase">Instructions</h1>
                <input name="instructions" id="instructions" type="text" class="my-2 bg-slate-200 p-2 border border-black w-[90%] sm:w-[80%] rounded-lg" placeholder="Add Instructions">
              </div>
  
              <div class="flex justify-center">
                <button type="submit" class="bg-blue-700 text-white font-bold my-4 py-2 px-4 rounded-lg">Add</button>
              </div>
            </div>
          </div>
        </form>
        <!-- End Prescription -->

        <!-- Investigation -->
        <form method="POST" action="{% url 'add_investigation' patient.profile_id %}">
          {% csrf_token %}
          <div class="px-4 sm:px-8 my-8">
          
            <div class="bg-slate-700 flex items-center justify-between w-full py-2 px-2 sm:px-4 lg:px-8 rounded-t-lg">
              <h1 class="text-white font-bold text-[16px]">Investigation</h1>
              <img src="{% static 'images/icons8-add-48.png' %}" alt="" class="w-8 h-8">
            </div>
  
            <div class="w-full py-2 px-1 sm:px-4 lg:px-8 shadow-lg bg-slate-200">
  
              <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 my-4 justify-between">
  
                <div class="w-full sm:w-1/2 text-xxs md:text-sm flex items-center mr-0 lg:mr-4">
                  <div class="w-[40%] sm:w-[30%]">
                    <label for="referral_facility" class="text-slate-900 font-bold">Referral Facility : </label>
                  </div>
                  <div class="w-[60%] sm:w-[70%]">
                    <select name="referral_facility" id="referral_facility" class="md:mx-4 border bg-slate-200 rounded-lg p-2 w-[90%] sm:[w-80%] border-black">
                      <option value="">Select One </option>
                      <option value="Korle Bu Main hospital">Korle Bu Main hospital</option>
                      <option value="Legon Hospital ">Legon Hospital</option>
                      <option value="UG Medical center">UG Medical center</option>
                      <option value="Accra Medical center">Accra Medical center</option>
                      <option value="Noguchie Health center">Noguchie Health center</option>
                    </select>          
                  </div>
                </div>
  
                <div class="w-full sm:w-1/2 text-xxs md:text-sm lg:text-md flex items-center">
                  <div class="w-[40%] sm:w-[30%]">
                    <label for="unit" class="text-slate-900 font-bold">Unit : </label>
                  </div>
                  <div class="w-[60%] sm:w-[70%]">
                    <select name="unit" id="unit" class="md:mx-4 border bg-slate-200 rounded-lg p-2 w-[90%] border-black">
                      <option value="">Select One </option>
                      <option value="Pathology">Pathology</option>
                      <option value="Cardiology">Cardiology</option>
                      <option value="Cardithoracy">Cardithoracy</option>
                      <option value="Gynaecology">Gynaecology</option>
                      <option value="Pediatric">Pediatric</option>
                      <option value="Opthometry">Opthometry</option>
                    </select>          
                  </div>
                </div>
  
              </div>
  
              <div class="flex flex-col sm:flex-row space-y-4 sm:space-y-0 my-4 justify-between">
  
                <div class="w-full sm:w-1/2 text-xxs md:text-sm flex items-center mr-0 lg:mr-4">
                  <div class="w-[40%] sm:w-[30%]">
                    <label for="investigation" class="text-slate-900 font-bold">Investigation: </label>
                  </div>
                  <div class="w-[60%] sm:w-[70%]">
                    <select name="investigation" id="investigation" class="md:mx-4 border bg-slate-200 rounded-lg p-2 w-[90%] sm:[w-80%] border-black">
                      <option value="">Select One </option>
                      <option value="Blood tests">Blood tests  </option>
                      <option value="Blood tests">Urinalysis   </option>
                      <option value="Biopsy">Biopsy       </option>
                      <option value="Amniocentesis">Amniocentesis</option>
                      <option value="Thyroid function tests">Thyroid function tests</option>
                    </select>          
                  </div>
                </div>
              </div>
              <div class="mt-8 mb-4">
                <h1 class="font-bold uppercase">Reason</h1>
                <input name="reason" id="reason" type="text" class="my-2 bg-slate-200 p-2 border border-black w-[90%] sm:w-[80%] rounded-lg" placeholder="Add Instructions">
              </div>
              <div class="flex justify-center">
                <button type="submit" class="bg-blue-700 text-white font-bold my-4 py-2 px-4 rounded-lg">Add</button>
              </div>
            </div>
          </div>
        </form>
        <!-- End Investigation -->
      </div>
  </div>
  <!-- End RIGHT SIDE -->
  
{% endblock content %}
