{% extends "base.html" %}
{% load static %}

{% block title %}
  Chats
{% endblock title %}

{% block content %}

    <!-- RIGHT SIDE -->
    <div class="main_body transition-all duration-500 md:w-4/5 w-full sm:ml-auto h-[110vh] bg-slate-400">
      
      <!-- Header -->
      <div class="">
        <div class="py-4 ml-10">
          <h1 class="font-bold text-md sm:text-xl text-slate-900">Chats</h1>
          <h2 class=" font-bold text-sm sm:text-lg text-slate-900"><a href="dashboard.html">Home</a> | <span><a href="chats.html">My Chats</a></span></h2>
        </div>
      </div>
      <!-- End Header -->

      <!-- Title and search -->
      <div class="chat_gpt h-[34rem] md:h-[36rem]">

        <div class="bg-white flex mx-4 sm:mx-8 md:mx-10 lg:mx-16 rounded-2xl">

          <div class="chat_names sm:block w-[35%] sm:border-b-none border-r border-black h-[32rem] md:h-[34rem]">
  
            <div class="bg-slate-300 pb-4 pt-2 rounded-tl-none sm:rounded-tl-2xl mb-2">
              <div class="flex justify-between mx-4 my-2">
                <div>
                  <img src="{% static 'images/icons8-settings-50.png' %}" alt="settings" class="w-[20px] h-[20px]">
                </div>
                <div class="flex space-x-2">
                  <img src="{% static 'images/icons8-chat-50.png' %}" alt="" class="w-[20px] h-[20px]">
                  <img src="{% static 'images/icons8-bar-chart-48.png' %}" alt="" class="w-[20px] h-[20px]">
                </div>
              </div>
    
              <div class="flex justify-center mt-4">
                <input type="text" placeholder="Patient's name/ ID" class="mx-2 border border-black px-3 py-1 w-[89%] text-sm font-semibold lg:text-lg rounded-xl">
              </div>
            </div>

             <!-- Patient List -->
            <div class="overflow-y-auto h-[23rem] sm:h-[78%]">
               
            <a href="#">
              <div class="flex p-2 hover:bg-gray-200">
                <div class="flex items-center w-[20%]">
                  <img src="{% static 'images/prof0.jpg' %}" alt="" class="rounded-[50%] w-6 h-6 lg:w-10 lg:h-10">
                </div>
                <div class="w-[76%] mx-2">
                  <div class="flex justify-between">
                    <h1 class="font-semibold text-xs lg:text-sm">Al-Waasiu</h1>
                    <p class="text-[10px] lg:text-xs">10:31 am</p>
                  </div>
                  <h1 class="text-[10px] lg:text-xs truncate">Medication completed, when can we</h1>
                </div>
                <div class="flex items-center w-[6%]">
                  <div class="p-[5px] bg-blue-500 rounded-full"></div>
                </div>
              </div>
            </a>
            
            <a href="#">
              <div class="flex p-2 hover:bg-gray-200">
                <div class="flex items-center w-[20%]">
                  <img src="{% static 'images/prof1.jpg' %}" alt="" class="rounded-[50%] w-6 h-6 lg:w-10 lg:h-10">
                </div>
                <div class="w-[76%] mx-2">
                  <div class="flex justify-between">
                    <h1 class="font-semibold text-xs lg:text-sm">Al-Waasiu</h1>
                    <p class="text-[10px] lg:text-xs">10:31 am</p>
                  </div>
                  <h1 class="text-[10px] lg:text-xs truncate">Medication completed, when can we</h1>
                </div>
                <div class="flex items-center w-[6%]">
                  <div class="p-[5px] bg-blue-500 rounded-full"></div>
                </div>
              </div>
            </a>
            
            <a href="#">
              <div class="flex p-2 hover:bg-gray-200">
                <div class="flex items-center w-[20%]">
                  <img src="{% static 'images/prof2.jpg' %}" alt="" class="rounded-[50%] w-6 h-6 lg:w-10 lg:h-10">
                </div>
                <div class="w-[76%] mx-2">
                  <div class="flex justify-between">
                    <h1 class="font-semibold text-xs lg:text-sm">Al-Waasiu</h1>
                    <p class="text-[10px] lg:text-xs">10:31 am</p>
                  </div>
                  <h1 class="text-[10px] lg:text-xs truncate">Medication completed, when can we</h1>
                </div>
                <div class="flex items-center w-[6%]">
                  <div class="p-[5px] bg-blue-500 rounded-full"></div>
                </div>
              </div>
            </a>
            
            <a href="#">
              <div class="flex p-2 hover:bg-gray-200">
                <div class="flex items-center w-[20%]">
                  <img src="{% static 'images/prof3.jpg' %}" alt="" class="rounded-[50%] w-6 h-6 lg:w-10 lg:h-10">
                </div>
                <div class="w-[76%] mx-2">
                  <div class="flex justify-between">
                    <h1 class="font-semibold text-xs lg:text-sm">Al-Waasiu</h1>
                    <p class="text-[10px] lg:text-xs">10:31 am</p>
                  </div>
                  <h1 class="text-[10px] lg:text-xs truncate">Medication completed, when can we</h1>
                </div>
                <div class="flex items-center w-[6%]">
                  <div class="p-[5px] bg-blue-500 rounded-full"></div>
                </div>
              </div>
            </a>
            
            <a href="#">
              <div class="flex p-2 hover:bg-gray-200">
                <div class="flex items-center w-[20%]">
                  <img src="{% static 'images/prof4.jpg' %}" alt="" class="rounded-[50%] w-6 h-6 lg:w-10 lg:h-10">
                </div>
                <div class="w-[76%] mx-2">
                  <div class="flex justify-between">
                    <h1 class="font-semibold text-xs lg:text-sm">Al-Waasiu</h1>
                    <p class="text-[10px] lg:text-xs">10:31 am</p>
                  </div>
                  <h1 class="text-[10px] lg:text-xs truncate">Medication completed, when can we</h1>
                </div>
                <div class="flex items-center w-[6%]">
                  <div class="p-[5px] bg-blue-500 rounded-full"></div>
                </div>
              </div>
            </a>
            
            <a href="#">
              <div class="flex p-2 hover:bg-gray-200">
                <div class="flex items-center w-[20%]">
                  <img src="{% static 'images/prof5.jpg' %}" alt="" class="rounded-[50%] w-6 h-6 lg:w-10 lg:h-10">
                </div>
                <div class="w-[76%] mx-2">
                  <div class="flex justify-between">
                    <h1 class="font-semibold text-xs lg:text-sm">Al-Waasiu</h1>
                    <p class="text-[10px] lg:text-xs">10:31 am</p>
                  </div>
                  <h1 class="text-[10px] lg:text-xs truncate">Medication completed, when can we</h1>
                </div>
                <div class="flex items-center w-[6%]">
                  <div class="p-[5px] bg-blue-500 rounded-full"></div>
                </div>
              </div>
            </a>
            
            <a href="#">
              <div class="flex p-2 hover:bg-gray-200">
                <div class="flex items-center w-[20%]">
                  <img src="{% static 'images/prof6.jpg' %}" alt="" class="rounded-[50%] w-6 h-6 lg:w-10 lg:h-10">
                </div>
                <div class="w-[76%] mx-2">
                  <div class="flex justify-between">
                    <h1 class="font-semibold text-xs lg:text-sm">Al-Waasiu</h1>
                    <p class="text-[10px] lg:text-xs">10:31 am</p>
                  </div>
                  <h1 class="text-[10px] lg:text-xs truncate">Medication completed, when can we</h1>
                </div>
                <div class="flex items-center w-[6%]">
                  <div class="p-[5px] bg-blue-500 rounded-full"></div>
                </div>
              </div>
            </a>
            
            <a href="#">
              <div class="flex p-2 hover:bg-gray-200">
                <div class="flex items-center w-[20%]">
                  <img src="{% static 'images/prof7.jpg' %}" alt="" class="rounded-[50%] w-6 h-6 lg:w-10 lg:h-10">
                </div>
                <div class="w-[76%] mx-2">
                  <div class="flex justify-between">
                    <h1 class="font-semibold text-xs lg:text-sm">Al-Waasiu</h1>
                    <p class="text-[10px] lg:text-xs">10:31 am</p>
                  </div>
                  <h1 class="text-[10px] lg:text-xs truncate">Medication completed, when can we</h1>
                </div>
                <div class="flex items-center w-[6%]">
                  <div class="p-[5px] bg-blue-500 rounded-full"></div>
                </div>
              </div>
            </a>
            
            <a href="#">
              <div class="flex p-2 hover:bg-gray-200">
                <div class="flex items-center w-[20%]">
                  <img src="{% static 'images/prof8.jpg' %}" alt="" class="rounded-[50%] w-6 h-6 lg:w-10 lg:h-10">
                </div>
                <div class="w-[76%] mx-2">
                  <div class="flex justify-between">
                    <h1 class="font-semibold text-xs lg:text-sm">Al-Waasiu</h1>
                    <p class="text-[10px] lg:text-xs">10:31 am</p>
                  </div>
                  <h1 class="text-[10px] lg:text-xs truncate">Medication completed, when can we</h1>
                </div>
                <div class="flex items-center w-[6%]">
                  <div class="p-[5px] bg-blue-500 rounded-full"></div>
                </div>
              </div>
            </a>
            
            <a href="#">
              <div class="flex p-2 hover:bg-gray-200">
                <div class="flex items-center w-[20%]">
                  <img src="{% static 'images/prof9.jpg' %}" alt="" class="rounded-[50%] w-6 h-6 lg:w-10 lg:h-10">
                </div>
                <div class="w-[76%] mx-2">
                  <div class="flex justify-between">
                    <h1 class="font-semibold text-xs lg:text-sm">Al-Waasiu</h1>
                    <p class="text-[10px] lg:text-xs">10:31 am</p>
                  </div>
                  <h1 class="text-[10px] lg:text-xs truncate">Medication completed, when can we</h1>
                </div>
                <div class="flex items-center w-[6%]">
                  <div class="p-[5px] bg-blue-500 rounded-full"></div>
                </div>
              </div>
            </a>
            
            <a href="#">
              <div class="flex p-2 hover:bg-gray-200">
                <div class="flex items-center w-[20%]">
                  <img src="{% static 'images/prof10.jpg' %}" alt="" class="rounded-[50%] w-6 h-6 lg:w-10 lg:h-10">
                </div>
                <div class="w-[76%] mx-2">
                  <div class="flex justify-between">
                    <h1 class="font-semibold text-xs lg:text-sm">Al-Waasiu</h1>
                    <p class="text-[10px] lg:text-xs">10:31 am</p>
                  </div>
                  <h1 class="text-[10px] lg:text-xs truncate">Medication completed, when can we</h1>
                </div>
                <div class="flex items-center w-[6%]">
                  <div class="p-[5px] bg-blue-500 rounded-full"></div>
                </div>
              </div>
            </a>
            
            </div>
            

            <!-- End patient list -->
  
          </div>
  
          <div class="w-[100%] sm:w-[65%] h-[32rem] md:h-[34rem] relative">

            <!-- Profile area -->
            <div class="sm:hidden bg-slate-300 p-4 sm:p-2 flex items-center rounded-tl-2xl sm:rounded-tl-none rounded-tr-2xl">
                <img src="{% static 'images/icons8-chat-100.png' %}" alt="" class="chat_btn block sm:hidden w-6 h-6 lg:w-10 lg:h-10 mx-2">
                <img src="{% static 'images/prof0.jpg' %}" alt="" class="rounded-full w-6 h-6 lg:w-10 lg:h-10 mx-2">
                <h1 class="font-semibold text">Al-Waasiu</h1>
            </div>

            <!-- End profile area -->

            <!-- Chat area -->
            <div class="hidden bg-white">
                

                <div class="overflow-y-auto h-[28rem] px-2">

                  <div class="w-[70%] inline-block bg-yellow-200 text-start rounded-lg my-2 p-[6px] text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nemo magni explicabo, aspernatur est rerum commodi ducimus, veniam labore dolorem ab architecto accusantium non delectus!
                    <h1 class="text-end text-xs">10:29am</h1>
                  </div>

                  <div class="flex justify-end">
                    <div class="w-[40%]"></div>
                    <div class="inline-block bg-blue-500 text-start rounded-lg my-2 p-[6px] text-sm">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis rerum explicabo atque, eum obcaecati earum a omnis alias id officia. Placeat accusamus sunt iste inventore.
                      <h1 class="text-end text-xs">10:31 am</h1>
                    </div>
                  </div>

                  <div class="w-[70%] inline-block bg-yellow-200 text-start rounded-lg my-2 p-[6px] text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nemo magni explicabo, aspernatur est rerum commodi ducimus, veniam labore dolorem ab architecto accusantium non delectus!
                    <h1 class="text-end text-xs">10:29am</h1>
                  </div>

                  <div class="flex justify-end">
                    <div class="w-[40%]"></div>
                    <div class="inline-block bg-blue-500 text-start rounded-lg my-2 p-[6px] text-sm">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis rerum explicabo atque, eum obcaecati earum a omnis alias id officia. Placeat accusamus sunt iste inventore.
                      <h1 class="text-end text-xs">10:31 am</h1>
                    </div>
                  </div>

                  <div class="w-[70%] inline-block bg-yellow-200 text-start rounded-lg my-2 p-[6px] text-sm">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque nemo magni explicabo, aspernatur est rerum commodi ducimus, veniam labore dolorem ab architecto accusantium non delectus!
                    <h1 class="text-end text-xs">10:29am</h1>                  
                  </div>

                  <div class="flex justify-end">
                    <div class="w-[40%]"></div>
                    <div class="inline-block bg-blue-500 text-start rounded-lg my-2 p-[6px] text-sm">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis rerum explicabo atque, eum obcaecati earum a omnis alias id officia. Placeat accusamus sunt iste inventore.
                      <h1 class="text-end text-xs">10:31 am</h1>
                    </div>
                  </div>




                </div>
            
            </div>

            <!-- End chat area -->

            <!-- Text field -->
            <!-- when removing hidden add flex to this div -->
            <div class="hidden absolute w-full bottom-0 bg-slate-300 px-4 py-2 justify-between items-center rounded-bl-2xl sm:rounded-bl-none">
                <img src="{% static 'images/icons8-happy-50.png' %}" alt="" class="w-4 h-4 lg:w-6 lg:h-6">
                <img src="{% static 'images/icons8-attachment-50.png' %}" alt="" class="w-4 h-4 lg:w-6 lg:h-6" >
                <input type="text" class="w-[70%] rounded-lg p-2 outline-slate-400">
                <img src="{% static 'images/icons8-microphone-48.png' %}" alt="" class="w-4 h-4 lg:w-6 lg:h-6">
            </div>
            <!-- End text field -->

            <div class="block w-[100%] bg-white h-[30rem] rounded-e-2xl rounded-s-2xl sm:rounded-s-none ">

              <div class="h-[90%] flex flex-col items-center justify-center">
                  <img src="{% static 'images/nav_logo.png' %}" alt="" class="w-32 h-32 sm:w-48 sm:h-48">
                  <p class="font-bold text-2xl">HIS Connect</p>
                  <p class="px-2 text-sm lg:text-md text-center">Send and receive messages about your health</p>
              </div>
              
            </div>

          </div>
         
        </div>
      </div>
      <!-- End Title and search -->

    </div>
    <!-- END RIGHT SIDE -->
{% endblock content %}
    
