{% extends "base.html" %} 
{% load static %} 
{% block title %} Sessions {%endblock title %} 
{% block content %}
<!-- RIGHT SIDE -->
<div
  class="main_body transition-all duration-500 md:w-4/5 w-full sm:ml-auto min-h-screen bg-slate-400"
>
  <!-- Header -->
  <div class="bg-slate-400 h-auto sm:min-h-screen pb-10 sm:pb-0">
    <div class="py-4 ml-10">
      <h1 class="font-bold text-md sm:text-xl text-slate-900">Session</h1>
      <h2 class="font-bold text-sm sm:text-lg text-slate-900">
        <a href="{% url 'dashboard' %}">Home</a> |
        <span
          ><a href="{% url 'session_dashboard' request.user.profile_id %}"
            >My Sessions</a
          ></span
        >
      </h2>
    </div>
    <!-- End Header -->

    <!-- Patient list -->
    <div class="bg-slate-400 mx-4 sm:mx-8 md:mx-10 lg:mx-16 pb-10">
      <div>
        <div class="my-6 flex justify-between">
          <button
            class="rounded bg-slate-900 text-xs sm:text-sm md:text-md text-white px-4 py-1 uppercase"
          >
            SCHEDULED
          </button>
          {% if not request.user.is_staff %}
          <a href="{% url 'appointment_dashboard' %}">
            <button
              class="rounded bg-slate-900 text-xs sm:text-sm md:text-md text-white px-4 py-1 uppercase"
            >
              BOOK
            </button>
          </a>
          {% endif %}
        </div>
        {% for item in appointments %}
        <div
          class="hover:shadow-2xl text-[11px] sm:text-sm my-4 px-4 py-[10px] sm:px-6 bg-white shadow-lg rounded-lg"
        >
          <div>
            <h1 class="font-bold">
              <span class="mx-2 font-semibold">{{item.availability.day}}</span>
            </h1>
          </div>

          <div
            class="flex text-[10px] sm:text-sm h-16 items-center justify-between bg-white"
          >
            <div>
              <h1 class="uppercase font-bold">Doctor</h1>
              <p class="">{{item.doctor.full_name}}</p>
            </div>

            <div class="">
              <h1 class="uppercase font-bold">Time</h1>
              <p class="">{{item.availability.time}}</p>
            </div>

            <div class="hidden xxs:block">
              <h1 class="uppercase font-bold">Type</h1>
              <p class="">{{item.availability.type}}</p>
            </div>

            <div class="hidden xs:block">
              <h1 class="uppercase font-bold">Comments</h1>
              <a href="#" class="underline text-blue-400 font-bold"
                >{{item.comments}}</a
              >
            </div>

            <div>
              <h1 class="uppercase font-bold text-center">Actions</h1>
              <div class="flex space-x-2 items-center">
                <a href="#">
                  <button
                    class="rounded bg-blue-700 px-1 sm:px-4 py-1 text-xxs sm:text-xs uppercase text-white"
                  >
                    JOIN
                  </button>
                </a>

                <a href="#">
                  <img
                    src="{% static 'images/icons8-wrong-50.png' %}"
                    alt=""
                    class="w-5 xs:w-6 h-5 xs:h-6"
                  />
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

      <div>
        <div class="my-6">
          <button
            class="rounded text-xs sm:text-sm md:text-md bg-slate-900 text-white px-4 py-1 uppercase"
          >
            COMPLETED
          </button>
        </div>
      </div>
    </div>

    <!-- End Patient list -->
  </div>
  <!-- End Header -->
</div>
<!-- END RIGHT SIDE -->

{% endblock content %}
